# Email Configuration (SMTP)
# Instrução: Use o seu email do Gmail e uma 'Senha de App' gerada na conta Google
EMAIL_USER=seu_email@gmail.com
EMAIL_PASSWORD=sua_senha_de_app_de_16_digitos

# Frontend Configuration
# Em produção, altere para a URL real da API
VITE_API_URL=http://localhost:8000
